.project-archive-banner {
    padding: 140px 0;
    .img-banner-custom {
        background-image: url('./img/bg-header-banner.jpg');
        mix-blend-mode: luminosity;
        background-position: center;
        background-size: cover;  /* Đảm bảo hình ảnh bao phủ toàn bộ chiều cao và chiều rộng */
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
        z-index: -1;
    }
    .breadcrumb-custom {
        font-size: 14px;
        margin-bottom: 15px;
        text-align: center;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;

        a {
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;

            &:hover {
                color: #B882FC;
            }
        }
    }

}
.wrapper {
    .content-archive-post{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;

        .content-archive-item{
            display: block;
            // min-height: 500px;
            z-index: 2;

            .project-thumbnail{
                width: 100%;

                img{
                    width: 100%;
                    min-height: 500px;
                    object-fit: cover;
                    backdrop-filter: blur();
                }
            }

             .mark {
                content: "";
                background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.2) 65%);
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
        }

        .content-post{
            z-index: 2;
            padding: 20px;
            width: 100%;

            .project-item {
                overflow: hidden;
                h2 {
                    a{
                        font-size: 20px;
                        text-transform: capitalize;
                        font-weight: 700;
                        color: white;
                        max-width: 27ch;             /* Giới hạn tối đa 5 ký tự */
                        overflow: hidden;           /* Ẩn phần văn bản vượt quá */
                        text-overflow: ellipsis;    /* Thêm dấu ba chấm nếu bị cắt */
                        white-space: nowrap;  
                    }
                }
            }

            .project-categories{
                span.categories-label{
                    display: none;
                }
                br{
                    display: none;
                }
                a{
                    font-size: 14px;
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: 600;
                    position: relative;
                    &:after{
                        position: absolute;
                        content: '/';
                        top: 50%;
                        right: -8px;
                        transform: translateY(-50%);
                    }
                    &:last-child:after{
                        content: '';
                    }
                }
                a:hover{
                    color: #B882FC;
                }
            }
        }
    }

    .pagination-main{
        margin-top: 20px;
        .nav-links{
            display: flex;
            gap: 5px;

            .page-numbers {
                width: 45px;
                height: 45px;
                display: inline-block;
                border: none;
                background-color: #7A7A7A;
                padding: 0;
                float: none;
                .page-num ,span.page-next{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;

                }
            }
            span.page-numbers.dots{
                width: 45px;
                    height: 45px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
            }
            span.page-numbers.current span{
                background-color: blue;
            }
        }
    }
}


@media screen and (max-width: 1024px){
   .wrapper{
        width: 100%;
        // padding:0 20px ;
        .content-archive-post{
            grid-template-columns: repeat(2, 1fr) !important;
        }   
   }
}

@media screen and (max-width: 768px){
    .project-archive-banner{
        padding: 100px 0;
        h1{
            font-size: 25px;
        }
    }
   .wrapper{
        width: 100%;
        // padding:0 10px ;

        .content-archive-post{
            grid-template-columns: repeat(1, 1fr) !important;
            .content-archive-item{
                .project-thumbnail{
                    img{
                        max-height: 400px;
                        min-height: 350px;
                    }
                }

            } 
            .content-post .project-item {
                h2 {
                    margin: 0 0 5px 0;
                    a{
                        font-size: 18px;
                    }
                }
            }
            .content-post .project-categories a{
                font-size: 12px;
            }
        }

       .pagination-main{
            .nav-links{
                flex-wrap: wrap;
                .page-numbers {
                    width: 35px;
                    height: 35px;
                    .page-num ,span.page-next{
                        font-size: 12px;

                    }
                }
                span.page-numbers.dots{
                    width: 35px;
                    height:35px;
                }
            }
        }
   }

}