.tab-setting-control{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	button{
		padding: 5px 20px;
		background-color: darkgray;
		color: white;
		border: none;
		cursor: pointer;

		&.active {
		    background-color: black;
		    color: white;
		    border: none;
		}
	}
}
.wrapper-setting{
	padding: 20px;
	border: 1px solid darkgray;
	display: none;
	form{
		h3{
			font-size: 25px;
		}
		input[type="submit"]{
			padding: 5px 20px;
			background-color: black;
			color: white;
			border: none;
		}
		.box-check-item{

			label{
				cursor: pointer;
			}
		}
	}
	
	&.active {
		display: block;
	}
}
div#Mailer{
	form{
		.wrapper-mail-setting{
			h3{
				margin-bottom: 20px;
			}
			.box-hearder-content{
				display: flex; 
				gap: 30px;
				strong{
				}
				.box-radio{
					label{
						cursor: pointer;
					}
				}
			}

			.content-wrapper-all{
				.content-wrapper-both,.content-wrapper-admin,.content-wrapper-customer{
					.box-content-input{
						display: flex;
						gap: 5px;
						flex-direction: column;
						align-items: start;

						label{
							// width: 200px;
							font-weight: 600;
							span{
								font-weight: 400;
								font-size: 12px;
								word-spacing: 2px;
								letter-spacing: .5px;
							}
						}
						input.input-custom{
							width: 100%;
							border: 1px solid #ddd;
							border-radius: 5px; 
							padding:5px 10px;
							margin-bottom: 20px;
						}
						.wp-editor-wrap{
							width: 100%;
							.quicktags-toolbar {
								    display: flex;
								}
								textarea{
									color:black;
								}
						}
						select{
							width: 50%;
							padding:0px 10px;
							margin-bottom: 10px;

						}
					}
				}
			}
		}
		input[type="submit"]{
			margin: 15px 0 0 0;
            cursor: pointer;
            padding: 5px 30px;
		}
	}
}

.accordion-custom {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .accordion-item-custom {
    	width: 100%;
        .accordion-header-custom {
        	h6{
            	font-size: 16px;
            	margin: 10px 0 ;
            }
            cursor: pointer;
            border: 1px solid #ddd;
            padding: 5px 10px;
            background-color: #dddddd2b;
            position: relative;

            &::before {
                position: absolute;
                content: "\f078";
                font-family: "Font Awesome 5 Free";
                font-size: 14px;
                color: black;
                right: 20px;
                top: 50%;    
                font-weight: bold; 
                transform: translateY(-50%);
            }
        }

        .accordion-body-custom {
            display: none;
            padding: 10px 5px 5px 5px;
            border: 1px solid #ddd;
        }

        &.active {
            .accordion-header-custom {
                &::before {
                    transform: rotate(180deg) translateY(50%); 
                }
            }

            .accordion-body-custom {
                display: block; 
            }
        }
    }
}
.wrapper-cron-setting{
	.box-cron-item{
		display:grid;
		grid-template-columns: 1fr 7fr;
		gap: 20px;
		margin-bottom: 20px;
		label{
			max-width: 200px;
			font-size: 14px;
			font-weight: 700;
			span{
				padding: 10px 0 0 0;
				font-size: 13px;
				font-weight: 400;
				display: block;
				word-spacing: 2px;
				letter-spacing: .5px;
			}
		}
		.imput-description{
			input.input-cron{
				width: 100%;
			}
			span{

			}
			label.cursor-pointer-span{
				cursor: pointer;
				font-weight: initial;
			}
			#from_mail_cron {
			    color: black;
			}
		}
	}
}