.tab-setting-control {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; }
  .tab-setting-control button {
    padding: 5px 20px;
    background-color: darkgray;
    color: white;
    border: none;
    cursor: pointer; }
    .tab-setting-control button.active {
      background-color: black;
      color: white;
      border: none; }

.wrapper-setting {
  padding: 20px;
  border: 1px solid darkgray;
  display: none; }
  .wrapper-setting form h3 {
    font-size: 25px; }
  .wrapper-setting form input[type="submit"] {
    padding: 5px 20px;
    background-color: black;
    color: white;
    border: none; }
  .wrapper-setting form .box-check-item label {
    cursor: pointer; }
  .wrapper-setting.active {
    display: block; }

div#Mailer form .wrapper-mail-setting h3 {
  margin-bottom: 20px; }
div#Mailer form .wrapper-mail-setting .box-hearder-content {
  display: flex;
  gap: 30px; }
  div#Mailer form .wrapper-mail-setting .box-hearder-content .box-radio label {
    cursor: pointer; }
div#Mailer form .wrapper-mail-setting .content-wrapper-all .content-wrapper-both .box-content-input, div#Mailer form .wrapper-mail-setting .content-wrapper-all .content-wrapper-admin .box-content-input, div#Mailer form .wrapper-mail-setting .content-wrapper-all .content-wrapper-customer .box-content-input {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: start; }
  div#Mailer form .wrapper-mail-setting .content-wrapper-all .content-wrapper-both .box-content-input label, div#Mailer form .wrapper-mail-setting .content-wrapper-all .content-wrapper-admin .box-content-input label, div#Mailer form .wrapper-mail-setting .content-wrapper-all .content-wrapper-customer .box-content-input label {
    font-weight: 600; }
    div#Mailer form .wrapper-mail-setting .content-wrapper-all .content-wrapper-both .box-content-input label span, div#Mailer form .wrapper-mail-setting .content-wrapper-all .content-wrapper-admin .box-content-input label span, div#Mailer form .wrapper-mail-setting .content-wrapper-all .content-wrapper-customer .box-content-input label span {
      font-weight: 400;
      font-size: 12px;
      word-spacing: 2px;
      letter-spacing: .5px; }
  div#Mailer form .wrapper-mail-setting .content-wrapper-all .content-wrapper-both .box-content-input input.input-custom, div#Mailer form .wrapper-mail-setting .content-wrapper-all .content-wrapper-admin .box-content-input input.input-custom, div#Mailer form .wrapper-mail-setting .content-wrapper-all .content-wrapper-customer .box-content-input input.input-custom {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 20px; }
  div#Mailer form .wrapper-mail-setting .content-wrapper-all .content-wrapper-both .box-content-input .wp-editor-wrap, div#Mailer form .wrapper-mail-setting .content-wrapper-all .content-wrapper-admin .box-content-input .wp-editor-wrap, div#Mailer form .wrapper-mail-setting .content-wrapper-all .content-wrapper-customer .box-content-input .wp-editor-wrap {
    width: 100%; }
    div#Mailer form .wrapper-mail-setting .content-wrapper-all .content-wrapper-both .box-content-input .wp-editor-wrap .quicktags-toolbar, div#Mailer form .wrapper-mail-setting .content-wrapper-all .content-wrapper-admin .box-content-input .wp-editor-wrap .quicktags-toolbar, div#Mailer form .wrapper-mail-setting .content-wrapper-all .content-wrapper-customer .box-content-input .wp-editor-wrap .quicktags-toolbar {
      display: flex; }
    div#Mailer form .wrapper-mail-setting .content-wrapper-all .content-wrapper-both .box-content-input .wp-editor-wrap textarea, div#Mailer form .wrapper-mail-setting .content-wrapper-all .content-wrapper-admin .box-content-input .wp-editor-wrap textarea, div#Mailer form .wrapper-mail-setting .content-wrapper-all .content-wrapper-customer .box-content-input .wp-editor-wrap textarea {
      color: black; }
  div#Mailer form .wrapper-mail-setting .content-wrapper-all .content-wrapper-both .box-content-input select, div#Mailer form .wrapper-mail-setting .content-wrapper-all .content-wrapper-admin .box-content-input select, div#Mailer form .wrapper-mail-setting .content-wrapper-all .content-wrapper-customer .box-content-input select {
    width: 50%;
    padding: 0px 10px;
    margin-bottom: 10px; }
div#Mailer form input[type="submit"] {
  margin: 15px 0 0 0;
  cursor: pointer;
  padding: 5px 30px; }

.accordion-custom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px; }
  .accordion-custom .accordion-item-custom {
    width: 100%; }
    .accordion-custom .accordion-item-custom .accordion-header-custom {
      cursor: pointer;
      border: 1px solid #ddd;
      padding: 5px 10px;
      background-color: #dddddd2b;
      position: relative; }
      .accordion-custom .accordion-item-custom .accordion-header-custom h6 {
        font-size: 16px;
        margin: 10px 0; }
      .accordion-custom .accordion-item-custom .accordion-header-custom::before {
        position: absolute;
        content: "\f078";
        font-family: "Font Awesome 5 Free";
        font-size: 14px;
        color: black;
        right: 20px;
        top: 50%;
        font-weight: bold;
        transform: translateY(-50%); }
    .accordion-custom .accordion-item-custom .accordion-body-custom {
      display: none;
      padding: 10px 5px 5px 5px;
      border: 1px solid #ddd; }
    .accordion-custom .accordion-item-custom.active .accordion-header-custom::before {
      transform: rotate(180deg) translateY(50%); }
    .accordion-custom .accordion-item-custom.active .accordion-body-custom {
      display: block; }

.wrapper-cron-setting .box-cron-item {
  display: grid;
  grid-template-columns: 1fr 7fr;
  gap: 20px;
  margin-bottom: 20px; }
  .wrapper-cron-setting .box-cron-item label {
    max-width: 200px;
    font-size: 14px;
    font-weight: 700; }
    .wrapper-cron-setting .box-cron-item label span {
      padding: 10px 0 0 0;
      font-size: 13px;
      font-weight: 400;
      display: block;
      word-spacing: 2px;
      letter-spacing: .5px; }
  .wrapper-cron-setting .box-cron-item .imput-description input.input-cron {
    width: 100%; }
  .wrapper-cron-setting .box-cron-item .imput-description label.cursor-pointer-span {
    cursor: pointer;
    font-weight: initial; }
  .wrapper-cron-setting .box-cron-item .imput-description #from_mail_cron {
    color: black; }

/*# sourceMappingURL=setting-project.css.map */
